@media (min-width: 401px) and (max-width: 899px) {
    .tab-menu button {
        font-size: 10px;  
    }
    .container-animals {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Divide em 1 coluna */
    }
}

@media (min-width: 900px) {
    .tab-menu button {
        font-size: 12px;  
    }
    .container-animals {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Divide em 2 colunas iguais */
    }
}

body{
    background-color: #5F6F52;
}

header{
    color: #b99470;
    text-align: center;
    font: small-caps bold 20px/2 cursive;
    
}
section{
    background-color: #FEFAE0;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    box-shadow: 4px 4px 6px #0000003e;
}

img{
    height: 180px;
    width: 150px;
    margin-bottom: 20px;
    border: 4px solid #632d1a;
}

h3{
    color: #b99470;
    text-align: start;
    margin-left: 40px;
    font: small-caps bold 20px/2;
}
