/*
#5F6F52 dark green
#A9B388 light oliva
#FEFAE0 cream
#B99470 light brown



menor ou igual - max
maior ou igual - min
*/

@media (min-width: 401px) and (max-width: 699px) {
    .tab-menu button {
        font-size: 10px;  
    }
    .container {
        display: grid;
        grid-template-columns: 1fr; /* Divide em 1 coluna */
    }
}

@media (min-width: 700px) and (max-width: 1199px) {
    .tab-menu button {
        font-size: 12px;  
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Divide em 2 colunas iguais */
    }
}

@media (min-width: 1200px) {
    .tab-menu button {
        font-size: 16px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Divide em 4 colunas iguais */
    }
}

.user{
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;    

    .perfil{
        width: 25px;
        height: 25px;
    }

}


.cart{
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 60px;    

    .carrinho{
        width: 25px;
        height: 25px;
    }

}

body{
    background-color: #5F6F52;
}

header{
    color: #b99470;
    text-align: center;
    font: small-caps bold 20px/2 cursive;
    
}

.tab-container {
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.tab-menu {
    overflow: hidden;
}

.tab-menu button {
    background-color: #b99470;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: bold;
    color: #5F6F52;
    border: none;
}

.tab-menu button:hover {
    background-color: #a9b288;
}

.tab-menu button.active {
    background-color: #FEFAE0;
    color: #b99470;
}

/*caixa principal do fundo*/
.tabcontent {
    display: none;
    background-color: #FEFAE0;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 4px 4px 6px #0000003e;
    border-top: none;
}

/*
section{
    background-color: #FEFAE0;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    width: 55%;
    margin: 0 auto;
    box-shadow: 4px 4px 6px #0000003e;
}
    */

.box{
    background-color: #a9b288;
    border: none;
    width: 200px;
    height: 260px;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.463);    
}

p{
    color: #FEFAE0;
    font: small-caps 13px cursive;
}
img{
    width: 160px;
    height: 200px;
    margin-top: 10px;

}

footer{
    color: #FEFAE0;
    text-align: center;
    font-style: italic;

}

.info{
    color: #5F6F52;
    font: small-caps 13px cursive;
}
