/*
#5F6F52 dark green
#A9B388 light oliva
#FEFAE0 cream
#B99470 light brown
*/

body{
    background-color: #5F6F52;
}
header{
    color: #b99470;
    text-align: center;
    font: small-caps bold 16px/2 cursive;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide em duas colunas iguais */
}

section{
    background-color: #FEFAE0;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    width: 55%;
    margin: 0 auto;
    box-shadow: 4px 4px 6px #0000003e;
}
.box{
    background-color: #a9b288;
    width: 100px;
    height: 160px;
    margin-bottom: 15px;
    margin-top: 5px;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.463);    
}

p{
    color: #FEFAE0;
    font: small-caps 15px cursive;
}

img{
    width: 80px;
    height: 100px;
    margin-top: 15px;
    margin-left: 10px;
}

footer{
    color: #FEFAE0;
    text-align: center;
    font-style: italic;

}