/*
#5F6F52 dark green
#A9B388 light oliva
#FEFAE0 cream
#B99470 light brown
*/

body{
    background-color: #5F6F52;
}
header{
    color: #b99470;
    text-align: center;
    font: small-caps bold 20px/2 cursive;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide em duas colunas iguais */
}

.tab-container {
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.tab-menu {
    overflow: hidden;
}

.tab-menu button {
    background-color: #b99470;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
    color: #5F6F52;
    border: none;
}

.tab-menu button:hover {
    background-color: #a9b288;
}

.tab-menu button.active {
    background-color: #FEFAE0;
    color: #b99470;
}

/*caixa principal do fundo*/
.tabcontent {
    display: none;
    background-color: #FEFAE0;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 4px 4px 6px #0000003e;
    border-top: none;
}

/*
section{
    background-color: #FEFAE0;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    width: 55%;
    margin: 0 auto;
    box-shadow: 4px 4px 6px #0000003e;
}
    */

.box{
    background-color: #a9b288;
    width: 100px;
    height: 160px;
    margin-bottom: 15px;
    margin-top: 5px;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.463);    
}

p{
    color: #FEFAE0;
    font: small-caps 15px cursive;
}

img{
    width: 80px;
    height: 100px;
    margin-top: 15px;
    margin-left: 10px;
}

footer{
    color: #FEFAE0;
    text-align: center;
    font-style: italic;

}

.info{
    color: #5F6F52;
    font: small-caps 13px cursive;
}